.box {
    width: 500px;
    height: 500px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 10px solid black;
    -webkit-mask: linear-gradient(#000 0 0),
   linear-gradient(#000 0 0);
   -webkit-mask-clip: text, padding-box;
   -webkit-mask-composite:xor;
}

.box h1 {
    font-size: 100px;
    
}