* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 1;
    
}

.logo {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.social-media {
    margin: 0 auto 0 50px
}

.social-media a {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: .5s;
}
.social-media a:hover {
    background:#fff;

}
.social-media a i {
    font-size: 20px;
    color: #fff;
    transition: .5s;
}
.social-media a:hover i {
    color: #444
}


.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(0 , 0, 0, .2);
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.slide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
}

.left-info .penetrate-blur {
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, .1);
   backdrop-filter: blur(20px);
   display: flex;
   align-items: center;
   justify-content: flex-end;
   -webkit-mask: linear-gradient(#000 0 0),
   linear-gradient(#000 0 0);
   -webkit-mask-clip: text, padding-box;
   -webkit-mask-composite:xor;
   
  
}
.left-info .penetrate-blur h1 {
    font-size: 250px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #fff
}


.content h3 {
    font-size: 20px;
}

.content p {
    font-size: 16px;
    margin: 10px 0 15px
}

.content .btn {
    display: inline-block;
    padding: 13px 20px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .2);
    font-size: 16px;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: .5s
}
.content .btn:hover {
    background: transparent;
    color: #fff;
}

.slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.right-info h1 {
    font-size: 250px;
    color: #fff;
}
.right-info h3 {
    position: absolute;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transform: translateY(150%);
    margin-left: 13px;
}

.navigation {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 99
}
.navigation span {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .5);
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    transition: background 1s;
}
.navigation span i {
    font-size: 45px;
    color: #444;
    transition: color 1s
}
.navigation span:nth-child(1) {
    background: transparent;
}
.navigation span:nth-child(1):hover {
    background: #fff;
}
.navigation span:nth-child(1) i {
    color: #fff;
}
.navigation span:nth-child(1):hover i {
    color: #444;
}